---
# Cart Service
apiVersion: v1
kind: Service
metadata:
  name: cart-service
  namespace: backend
  labels:
    app: nagp
    service: cart-service
    tier: backend
spec:
  type: ClusterIP
  ports:
  - port: 8002
    targetPort: 8002
    protocol: TCP
    name: http
  selector:
    app: nagp
    service: cart-service
