---
# Order Service
apiVersion: v1
kind: Service
metadata:
  name: order-service
  namespace: backend
  labels:
    app: nagp
    service: order-service
    tier: backend
spec:
  type: ClusterIP
  ports:
  - port: 8003
    targetPort: 8003
    protocol: TCP
    name: http
  selector:
    app: nagp
    service: order-service
